{% extends 'base.html' %}
{% block body %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'Microlly:index' %}">Accueil</a></li>
            <li class="is-active"><a href="#" aria-current="page">Mon Compte</a></li>
        </ul>
    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Publications</p>
            <p class="title">{{ number_of_user_posts }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Following</p>
            <p class="title">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Followers</p>
            <p class="title">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Rank</p>
            <p class="title">{{ rank }}</p>
            </div>
        </div>
    </nav>
    
    <section class="section has-text-centered">
        <a href="{% url 'Microlly:create_post' %}" class="button is-success">
            <p>Rédiger une publication</p>
            <span class="icon white-text">
                <i class="fas fa-edit"></i>
            </span>
        </a>
    </section>

    <h2>Mes publications :</h2>


    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
            <th><abbr title="Titre">Titre</abbr></th>
            <th><abbr title="Date de création">Création</abbr></th>
            <th><abbr title="Date de dernière modification">Modification</abbr></th>
            <th><abbr title="Modifier l'article">Modifier</abbr></th>
            <th><abbr title="Supprimer l'article">Supprimer</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for post in user_posts %}
                <tr>
                    <td><a href="{% url 'Microlly:post' id=post.id %}">{{ post.title }}</a></td>
                    <td>{{ post.creation_date }}</td>
                    <td>{{ post.update_date }}</td>
                    <td>
                        <a href="{% url 'Microlly:edit_post' id=post.id %}">
                            <span class="icon has-text-warning">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'Microlly:delete_post' id=post.id %}">
                            <span class="icon has-text-danger">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <div class="box">Vous n'avez rien rédigé pour le moment.</div>
            {% endfor %}
        </tbody>
    </table>
        <a href="{% url 'Microlly:password_change' %}">
            <p>🔑 Modifier mon mot de passe</p>
        </a>
{% endblock body %}