<!DOCTYPE html>
<html>

<head>
{% include "head.html" %}
</head>
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                {% if user.is_authenticated %}
                    <div class="is-pulled-right">Connecté en temps que <i>{{ user.username }}</i>,
                        <a href="{% url 'Microlly:logout' %}">Déconnexion 🚪</a>
                    </div>
                    
                {% else %}
                    <a href="{% url 'Microlly:login' %}" class="is-pulled-right">Se connecter</a>
                {% endif %}
                <h1 class="title" clas="is-overlay">
                    <a href="{% url 'Microlly:index' %}">Microlly</a> 
                </h1>
                <h2 class="subtitle">
                    Bienvenue
                </h2>
            </div>
        </div>
    </section>

</header>

<body>
    <main>
        <section class="section wrapper">
            <div class="container">
                {% block body %}
    
                {% endblock body %}
            </div>
        </section>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Microlly</strong> by <a href="https://simondormeau.fr" target="_blank">Simon Dormeau</a> and <a href="https://www.flickr.com/photos/biayo/3683976815" target="_blank">Lucille Tyrakowski</a>.
          
        </p>
      </div>
    </footer>
</body>
</html>