<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Microlly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% load static %}
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
</head>
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Microlly
                </h1>
                <h2 class="subtitle">
                    Bienvenue
                </h2>
            </div>
        </div>
    </section>

</header>

<body>
    <main>
        <section class="section wrapper">
            <div class="container">
                {% block body %}
    
                {% endblock body %}
            </div>
        </section>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Microlly</strong> by <a href="https://simondormeau.fr" target="_blank">Simon Dormeau</a> and <a href="https://www.flickr.com/photos/biayo/3683976815" target="_blank">Lucille Tyrakowski</a>.
          
        </p>
      </div>
    </footer>
</body>
</html>