{% extends 'base.html' %}
{% block body %}
    <h1>Voulez-vous vraiment supprimer le post suivant :</h1>
    <div>
        <i>{{ post }}</i> datant du {{ post.creation_date }}
        <form method="post" action="{% url 'Microlly:delete_post' id=id%}">
            {% csrf_token %}       
            <input class="button is-primary" type="submit" name="submit" value="Confirmer la suppression">
            <input class="button is-light" type="submit" name="cancel" value="Annuler">
        </form>
    </div>
{% endblock body %}