{% extends 'base.html' %}
{% block body %}
    <h1 class="title has-text-link">Modification du mot de passe</h1>
    <p>Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises
        afin de vérifier qu'il est correctement saisi.</p>
    <form method="post">
        {% include "form_snippet.html" %}
        <div class="help">
            <ul>
                <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
            </ul>
        </div>
        <input class="button" type="submit" value="Réinitialiser mon mot de passe">
    </form>
{% endblock body %}